<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  {%- include head.html -%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
  <!-- Chirpy 테마의 CSS는 자동으로 로드됩니다. -->
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.author }}</p>
  </footer>
</body>
</html>
